<div class="game-container bg-dark d-flex flex-column justify-content-center align-items-center min-vh-100 text-center">
  <div class="content text-light">
    <h1 class="mb-5">{{ title }}</h1>
    <div class="board d-grid">
      <div *ngFor="let cell of board; let i = index" class="cell" (click)="playerMove(i)">
        {{ cell }}
      </div>
    </div>

    <div class="d-flex justify-content-between align-items-center mt-4">
      <!-- Score display -->
      <div class="score" *ngIf="isTwoPlayerMode">
        P1 (✘): {{ humanScore }} | Tie : {{tie}} | P2 (O): {{ player2Score }}
      </div>
      <div class="score" *ngIf="!isTwoPlayerMode">
        <i class="bi bi-person"></i> (✘): {{ humanScore }} | Tie : {{tie}} | <i class="bi bi-robot"></i> (O): {{ aiScore }}
      </div>

      <!-- Mode Switch Button -->
      <span class="switch-mode" (click)="toggleMode()" [innerHTML]="isTwoPlayerMode ? 
        '<i class=&quot;bi bi-people-fill&quot;></i> 2P' : 
        '<i class=&quot;bi bi-person-fill&quot;></i> 1P'">
      </span>
    </div>
        <span>
       <p class="text-center message mt-4"> {{message}} </p>
      </span>
  </div>
</div>
